<div>
    <h6 style="font-size: 13px; padding-bottom: 3px; background-color: #f1f1f1;">{{ shipping_method }}</h6>
    <ul style="padding: 8px 0 8px 8px; background-color:#f8f8f8;">
        {% for day in days %}
            <li>{{ day }}</li>
        {% endfor %}
    </ul>
</div>